.allies-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-top: 3%;
    color: var(--secondary-color);
    flex-wrap: wrap;
    gap: 30px;
}

.allies-title{
    color: var(--primary-color);
    text-align: center;
}

.image{
    display: inline-block;
    height: 70px;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .image{
        height: 50px;
    }
}