.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-inline: 2rem;

  background-color: var(--secondary-color);
  color: var(--text-color);

  height: 80px;
  position: fixed;
  top: 0;
  z-index: 999;
  pointer-events: auto;
}

/* LOGO */
.name-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  height: 60px;
  object-fit: contain;
}


.nav-actions {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}


/* 🖥️ DESKTOP GRANDE */
@media screen and (min-width: 1200px) {
  .container {
    padding-inline: 4rem;
  }

  .logo {
    height: 70px;
  }
}

/* 📱 TABLET */
@media screen and (max-width: 1024px) {
  .container {
    padding-inline: 1.5rem;
  }

  .logo {
    height: 55px;
  }
}

/* 📱 MOBILE */
@media screen and (max-width: 768px) {
  .container {
    height: 64px;
    padding-inline: 1rem;
  }

  .logo {
    height: 48px;
  }
}
