.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-inline: 2%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  height: 80px;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.logo {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.name-logo {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-left: 16px;
}

.name {
  font-size: xx-large;
  font-weight: bolder;
}
