.main-container{
    padding-top: 80px;
    pointer-events: auto;
    position: relative;
    z-index: 1;
}

/* 📱 MOBILE */
@media screen and (max-width: 768px) {
    .main-container {
        padding-top: 64px;
    }
}