#root {
  height: 100%;
  width: 100%;
  font-family: "Calibri", sans-serif;
}

:root {
  --primary-color: #C49C3F;
  --secondary-color: #050A30;
  --text-color: #e7dfdd;
  --background-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
